@model RecipeHelp.Models.ViewModels.NonLoggedInUserChangePassword

@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="~/Bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">RecipeHELP</a>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" name="keyword" id="recipe search" placeholder="search recipes..." aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit" asp-controller="Home" asp-action="SearchResults">GO</button>
                </form>
                <ul class="navbar-nav mb-2 mb-md-0 ms-lg-5">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="Register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <h1 class="ms-xxl-4">Reset Password:</h1>
    <br />
    <div class="ms-xxl-5">
        <form asp-controller="Home" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"></div>
            <div class="mb-3 col-md-2">
                <label class="form-label">Email:</label>
                <input class="form-control" type="email" asp-for="Email" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">
                    If your email is on file, we will send a link to reset your password.
                </div>
                <br />
                <br />
                <button type="submit" class="btn btn-primary"> Send Link </button>
            </div>
        </form>
    </div>
</body>
</html>
